 # Ignore secrets directory
secrets/

# Ignore secrets directory
workspace/

# Ignore all folders named cache anywhere in the project
**/cache/

.env
.venv/

# Python cache directories
__pycache__/
*.pyc
*.pyo
*.pyd

